<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<button type="button" class="fileUpload button" v-on:click="clicked()">
		<span>{{ label }}</span>
		<input
			ref="inputfield"
			style="display:none"
			type="file" :accept="accept"
			@change="change($event)"
		/>
	</button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
	components: {},
	props: {
		accept: {
			type: String,
			default: "",
			required: false,
		},
		label: {
			type: String,
			default: "Parcourir…",
			required: false,
		},
	},
})
export default class FileInput extends Vue {
	private clicked(): void {
		const inputfield: HTMLElement = this.$refs.inputfield as HTMLElement;
		if (inputfield) {
			inputfield.click();
		}
	}

	private change(event: any): void {
		this.$emit("change", event);
	}
}
</script>
