<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<span>
		<span>{{ value.lat.toFixed(5) }}</span>, <span>{{ value.lon.toFixed(5) }}</span>
	</span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Geopoint } from '@/types';

@Component({
	components: {},
})
export default class GeopointView extends Vue {
	@Prop({ required: true })
	value!: Geopoint;
}
</script>

<style scoped>
</style>
