<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<div class="map-view">

		<div class="scenario-panel">
			<h2>Visibilité sur la carte</h2>
			<ul class="visibility-list">
				<li v-for="(item, index) in scenarios" :key="index">
					<input type="checkbox" :id="'scenario-vis-'+index" v-model="item.show_in_editor_map" />
					<label :for="'scenario-vis-'+index">
						<span class="dot" :style="'background-color:'+item.scenarioData.color"></span>
						{{ item.displayName() }}
						</label>
				</li>
			</ul>
		</div>

		<vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
						data-projection="EPSG:4326" class="map">
			<vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

			<vl-layer-tile id="osm">
				<vl-source-osm></vl-source-osm>
			</vl-layer-tile>

			<!-- <vl-feature>
				<vl-geom-polygon :coordinates="[[[-10, -10], [-20, -20], [-30, -10], [-20, 0], [-10, -10]]]"></vl-geom-polygon>
			</vl-feature> -->

			<vl-feature v-for="([coords, color], index) in visibleTurbines" :key="index">
				<vl-style-box>
					<vl-style-icon :src="require('@/assets/map/turbine.svg')" :anchor="[0.5, 0.9]" :color="color"></vl-style-icon>
				</vl-style-box>

				<vl-geom-point :coordinates="[coords.lon, coords.lat]"></vl-geom-point>
			</vl-feature>


			<vl-feature v-for="([hedge, color], index) in visibleHedgesCoords" :key="index">
				<vl-style-box>
					<vl-style-stroke
						:color=color
						:width="5"
					></vl-style-stroke>
				</vl-style-box>

				<vl-geom-line-string :coordinates="hedge"></vl-geom-line-string>
			</vl-feature>


			<!-- <vl-overlay>
			</vl-overlay> -->

		</vl-map>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Geopoint, Scenario } from '@/types';

import VueLayers from 'vuelayers';
import 'vuelayers/lib/style.css';

Vue.use(VueLayers);

@Component({
	components: {},
})
export default class MapView extends Vue {
	@Prop({ required: true })
	scenarios!: Scenario[];

	// Initial map view position
	zoom = 8;
	center = [-2.327, 48.041];
	rotation = 0;

	get visibleScenarios(): Scenario[] {
		return this.scenarios.filter( function(scenario: Scenario): boolean {
			return scenario.show_in_editor_map;
		} )
	}

	get visibleTurbines(): [turbine: Geopoint, color: string][] {
		let res: [Geopoint, string][] = [];

		for (const scenario of this.visibleScenarios) {
			for (const turbine of scenario.scenarioData.turbinePositions) {
				res.push( [turbine, scenario.scenarioData.color] );
			}
		}

		return res;
	}

	get visibleHedgesCoords(): [points: [lon: number, lat: number][], color: string][] {
		let res: [[number, number][], string][] = [];

		for (const scenario of this.visibleScenarios) {
			for (const hedge of scenario.scenarioData.hedges) {
				const points: [number, number][] = [];
				for (const point of hedge) {
					points.push( [point.lon, point.lat] );
				}
				res.push( [points, scenario.scenarioData.color] );
			}
		}

		return res;
	}
}

</script>

<style scoped>
.map-view {
	min-height: 100px;
	width: 100%;
	height: 100%;
}

.map {
	width: 100%;
	height: 400px;
}

.scenario-panel {
	text-align: left;
}

.visibility-list {
	list-style-type: none;
	user-select: none;
	text-align: left;
}

.dot {
	display: inline-block;
	height: 0.75em;
	width: 0.75em;
	margin: 0 3px;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.75);
	background-color: #bbb;
	border-radius: 50%;
}
</style>
