<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<div class="scenario_tabs">
		<div class="tabs">
			<span v-for="(item, index) in value" :key="index"
				v-on:click="currentScenarioIndex = index"
				:disabled="index == currentScenarioIndex"
				:class="index == currentScenarioIndex ? 'tab-button tab-button-active' : 'tab-button'"
			>
				<span class="tab-button-label">{{ item.displayName() }}</span>
				<button type="button" class="button button-delete" v-on:click="deleteScenario(index)" title="Supprimer le scénario">✕</button>
				<div class="invalid-marker" title="Scénario invalide" v-if="!item.isValid()">!</div>
			</span>
			<span v-on:click="newScenario()" class="tab-button" title="Nouveau scénario">+</span>
		</div>
		
		<div v-if="currentScenarioIndex >= 0 && currentScenarioIndex < value.length">
			<ScenarioEdit v-model="value[currentScenarioIndex].scenarioData" :fileManager="fileManager" />
		</div>
		<div v-else>
			<p>Aucun scénario séléctionné</p>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ScenarioEdit from '@/components/ScenarioEdit.vue'
import { Scenario, FileManager } from '@/types';

@Component({
	components: {
		ScenarioEdit,
	},
})
export default class ScenarioTabs extends Vue {
	@Prop({type: FileManager, required: true}) fileManager!: FileManager;

	@Prop({type: [], required: true}) value!: Array<Scenario>;

	private currentScenarioIndex = 0;

	private newScenario(): void {
		this.currentScenarioIndex = this.value.push(new Scenario("")) - 1;
	}

	private deleteScenario(index: number): void {
		if (index < 0 || index >= this.value.length) {
			return;
		}

		if (confirm("Supprimer "+this.value[index].displayName()+" ? Cette action est ireversible.")) {
			console.log('Deleting scenario ' + this.value[index].displayName());
			this.value.splice(index, 1);
		}
	}

	private static getFileEntry(path: string): any {
		return {
			"format": FileManager.getExtensionFromString(path),
			"path": path,
		}
	}
}
</script>

<style scoped>
.tabs {
	margin: 0 auto;
}

.tab-button {
	display: inline-block;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	
	background-color: rgb(255, 255, 255);
	color: #a1c750;
	font-weight: bold;
	text-align: center;
	user-select: none;
	padding: 10px;
	margin: 0 1px;
}

.tab-button-label {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	max-width: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tab-button:hover {
	background-color: rgb(242, 245, 242);
}

.tab-button-active {
	background-color: #f0ffd1;
	border-bottom-color: #a1c750;
	border-bottom: solid;
	border-bottom-width: 2px;
	margin-bottom: -2px;
}

.tab-button-active:hover {
	background-color: #f0ffd1;
}

.button-delete {
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 4px;
	cursor: default;
}

.invalid-marker {
	position: absolute;
	overflow: visible;
	width: 1.1em;
	height: 1.1em;
	top: 1px;
	left: 1px;
	z-index: 10;
	font-size: 75%;
	color: #fff;
	background-color: #f00;
	border-radius: .55em;
}
</style>
