<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<div class="scenario">
		<input
			v-model.trim="value.title"
			placeholder="Titre"
			maxlength="25"
			:class="'title'+(value.title.trim().length == 0 ? ' required-box' : '')"
		>

		<table>
			<tr class="input_container">
				<td>
					Couleur d'affichage
				</td>
				<td>
					<input type="color" v-model="value.color"/>
				</td>
			</tr>

			<tr class="input_container">
				<td :class="value.turbinePositions.length == 0 ? 'required-text' : ''">
					Positions d'éoliennes
				</td>
				<td>

					<FileInput accept=".kml" label="Importer…" @change="processFileTurbinePositions($event.target.files)" />
					
					<div v-on:click="foldPositions = !foldPositions" title="Afficher les positions">
						<span
							:class="'fold' + (foldPositions ? ' fold-closed' : '')"
							style="display:inline-block"
						>&#9660;</span>
						<span v-if="foldPositions" style="user-select:none">…</span>
					</div>

					<template v-if="!foldPositions">
						<div v-for="(item, index) of value.turbinePositions" :key="index">
							<span class="button button-delete" v-on:click="removeTurbinePosition(index)">✕</span>
							<GeopointView :value="item" />
						</div>
					</template>
				</td>
			</tr>

			<tr class="input_container">
				<td :class="(value.turbineDimensions === undefined || value.turbineDimensions.isValid()?'':'required-text')">
					Gabarit d'éoliennes
				</td>
				<td>
					<TurbineDimensionEdit ref="turbineDimensionEdit" v-model="value.turbineDimensions" />
				</td>
			</tr>

			<tr class="input_container">
				<td>
					Haies
				</td>
				<td>

					<FileInput accept=".kml" label="Importer…" @change="processFileHedges($event.target.files)" />
					
					<div v-on:click="foldHedges = !foldHedges" title="Afficher les haies">
						<span
							:class="'fold' + (foldHedges ? ' fold-closed' : '')"
							style="display:inline-block"
						>&#9660;</span>
						<span v-if="foldHedges" style="user-select:none">…</span>
					</div>

					<template v-if="!foldHedges">
						<div v-for="(item, index) of value.hedges" :key="index">
							<span class="button button-delete" v-on:click="removeHedge(index)">✕</span>
							<span v-for="(point, pointId) of item" :key="pointId">
								<span v-if="pointId != 0">, </span>
								[<GeopointView :value="point" />]
							</span>
						</div>
					</template>
				</td>
			</tr>
		</table>

	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ScenarioData, FileManager, Geopoint } from '../types';
import FileInput from '@/components/FileInput.vue';
import TurbineDimensionEdit from '@/components/TurbineDimensionEdit.vue';
import GeopointView from '@/components/GeopointView.vue';

@Component({
	components: {
		GeopointView,
		FileInput,
		TurbineDimensionEdit,
	}
})
export default class ScenarioEdit extends Vue {
	@Prop({type: ScenarioData, required: true}) value!: ScenarioData;
	@Prop({type: FileManager, required: true}) fileManager!: FileManager;

	private foldPositions = false;
	private foldHedges = false;

	private processFileTurbinePositions(files: File[]): void {
		for (var file of files)
		{
			FileManager.parsePositions(file).then(points => {
				console.log('Added '+points.length+' turbines.');

				if (points.length === 0) {
					alert('Aucune position trouvée dans le fichier donné.');
				}
				else
				{
					this.foldPositions = false;
				}

				this.value.turbinePositions = this.value.turbinePositions.concat(points);

				const newArray = Geopoint.removeDoubles( this.value.turbinePositions.concat(points) );

				this.value.turbinePositions = newArray;
			});
		}
	}

	private removeTurbinePosition(id: number): void {
		console.log('Removing turbine '+this.value.turbinePositions[id]);
		this.value.turbinePositions.splice(id, 1);
	}

	private processFileHedges(files: File[]): void {
		for (var file of files)
		{
			FileManager.parseHedges(file).then(hedges => {
				console.log('Added '+hedges.length+' hedges.');

				if (hedges.length === 0) {
					alert('Aucune haie trouvée dans le fichier donné.');
				}
				else
				{
					this.foldHedges = false;
				}

				const newArray = this.value.hedges.concat(hedges);

				// TODO: remove doubles

				this.value.hedges = newArray;
			});
		}
	}

	private removeHedge(id: number): void {
		console.log('Removing hedge '+this.value.hedges[id]);
		this.value.hedges.splice(id, 1);
	}
}
</script>

<style scoped>
.scenario {
	padding: 20px;
	max-width: 60%;
	margin: 0 auto;
}

.title {
	padding: 10px;
	margin: 10px 0 40px 0;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 120%;
	color: #237491;
}

table
{
	table-layout: fixed;
	width: 100%;
}

td {
	width: 50%;
	padding: 10px 20px;
	vertical-align: top;
}

td:nth-child(1) {
	text-align: right;
}

td:nth-child(2) {
	text-align: left;
}

.button-delete {
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	padding: 0;
}

.fold {
	height: 1em;
	width: 1em;
	margin-bottom: 10px;
	user-select: none;
	transition: all 50ms linear;
}

.fold-closed {
	transform: rotate(-90deg);
}

</style>
