<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<div>
		<div v-if="value">
			<span class="button" v-on:click="$emit('input', undefined)">Supprimer</span>

			<p :class="(this.$props.value.heightValid()?'':'required-text')">Hauteur du mat: 
				<input
					type="number"
					class="value-input"
					required
					min="1" max="300"
					step="0.1"
					v-model.number="value.height"
				>m<span/></p>
			<p :class="(this.$props.value.diameterValid()?'':'required-text')">Diamètre du mat: 
				<input
					type="number"
					class="value-input"
					required
					min="1" max="30"
					step="0.1"
					v-model.number="value.diameter"
				>m<span/></p>
			<p :class="(this.$props.value.rotorDiameterValid()?'':'required-text')">Diamètre du rotor: 
				<input
					type="number"
					class="value-input"
					required
					min="1" max="300"
					step="0.1"
					v-model.number="value.rotorDiameter"
				>m<span/></p>
		</div>
		<div v-else>
			<span class="button" v-on:click="createNew">Ajouter</span>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { TurbineDimensions } from '../types';

@Component({})
export default class TurbineDimensionEdit extends Vue {
	@Prop({type: TurbineDimensions, required: false, default: undefined}) value?: TurbineDimensions;

	private createNew(): void {
		this.$emit('input', new TurbineDimensions());
	}
}
</script>

<style scoped>
.value-input {
	width: 4em;
}

.value-input:invalid+span:after {
	content: '✖';
	padding-left: 5px;
}
</style>
