<!-- SPDX-License-Identifier: GPL-3.0-or-later
Copyright (C) 2021 ÉO
This file is part of ÉO Paysages - Éditeur.

ÉO Paysages - Éditeur is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ÉO Paysages - Éditeur is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ÉO Paysages - Éditeur.  If not, see <https://www.gnu.org/licenses/>. -->
<template>
	<div id="app">
		<h1>ÉO Paysages - Éditeur de scénarios</h1>

		<div class="toolbar">
			<FileInput id="openproject" accept=".zip, .json" label="Ouvrir" @change="openProject($event.target.files)" />
			<button type="button" :disabled="saveButtonDisabled()" v-on:click="saveProject()" class="button" title="Ctrl+S">Enregistrer</button>
		</div>

		<ScenariosTabs :fileManager="fileManager" v-model="scenarios" />
		<MapView :scenarios="scenarios"/>

		<footer>
			<p>Ce programme est un logiciel libre distribué sous licence GNU GPL v3.0.</p>
			<p>Son code source est disponible à <a target="_blank" href="https://gitlab.com/energies-ouvertes/eo-paysages-editeur">cette adresse</a>.</p>
		</footer>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Scenario, FileManager } from '@/types';
import ScenariosTabs from '@/components/ScenariosTabs.vue';
import MapView from '@/components/MapView.vue';
import JSZip from 'jszip';
import { saveAs } from 'file-saver';
import FileInput from '@/components/FileInput.vue';

@Component({
	components: {
		ScenariosTabs,
		MapView,
		FileInput,
	},
})
export default class App extends Vue {
	private scenarios: Array<Scenario> = [new Scenario("")];
	private fileManager: FileManager = new FileManager();

	private zipping = false;

	private saveButtonDisabled() { // TODO: Prevent duplicate scenario titles
		if (this.zipping || this.scenarios.length == 0) {
			return true;
		}
		for (var scenario of this.scenarios) {
			if (!scenario.isValid()) {
				return true;
			}
		}
		return false;
	}

	/**
	 * Creates a zip of the project and downloads it
	 */
	private saveProject(): void {
		this.zipping = true;

		var zip = new JSZip();

		/** File hashes mapped to their final path */
		var usedFiles = new Map<string, string | undefined>();

		// Find all used files
		for (var scenario of this.scenarios) {
			// for (var file of scenario.getAllFiles()) {
			// 	usedFiles.set(file, undefined);
			// }
		}

		const subdir = "data";

		var zipSubdir = zip.folder(subdir);
		if (zipSubdir == null) {
			console.error("FileManager is null");
			return;
		}

		// Zip files
		for (var fileHash of usedFiles.keys()) {
			const file = this.fileManager.get(fileHash);
			if (file) {
				let fileName = FileManager.sanitizeFileName(fileHash+"_"+file.name);
				usedFiles.set(fileHash, subdir+"/"+fileName);
				zipSubdir.file( fileName, file );
			}
		}

		// Zip scenarios
		for (scenario of this.scenarios) {
			const stringified: string | undefined = scenario.toJson();
			if (stringified)
			{
				let fileName = FileManager.sanitizeFileName(scenario.displayName()) + ".json";
				zip.file(fileName, stringified);
			}
		}
		
		zip.generateAsync({type:"blob"})
		.then((blob) => {
			saveAs(blob, "project_export.zip");
		})
		.catch(() => {
			alert("Erreur");
		})
		.finally(() => {
			this.zipping = false;
		});
	}

	private openProject(files: File[]): void {
		if (files.length > 0) {
			this.loadScenarios(files).then(([scenarios, message]) => {
				console.log(scenarios.length + ' scenarios loaded from files.');
				for(const scenario of scenarios) {
					this.scenarios.push(scenario);
				}
				alert(message);
			});
		}
	}

	private async loadScenarios(files: File[]): Promise<[Scenario[], string]> {
		var message = '';
		const scenarios: Scenario[] = [];

		for (var file of files)
		{
			const extension = FileManager.getExtension(file);
			switch(extension) {
				case 'json': {
					const textData = await file.text();
					const scenario = Scenario.fromJson(textData);
					if (scenario) {
						scenarios.push(scenario);
					} else {
						message += file.name + " n'est pas un scénario.\n";
					}
					break;
				}

				case 'zip': {
					const zip = await JSZip.loadAsync(file);
					const promises: Promise<string>[] = [];

					zip.forEach(function(filePath, file) {
						if (!file.dir && file.name.toLowerCase().endsWith('.json')) {
							promises.push(file.async('string'));
						}
					});

					const strings: string[] = await Promise.all(promises);
					for (const textData of strings) {
						const scenario = Scenario.fromJson(textData);
						if (scenario) {
							scenarios.push(scenario);
						}
					}
					break;
				}

				default: {
					message += 'Format non supporté: "'+extension+'"\n';
				}
			}
		}

		if (scenarios.length == 0) {
			message = 'Aucun scénario trouvé!\n' + message;
		} else {
			message = scenarios.length + ' scénarios chargé(s).\n' + message;
		}
		return [scenarios, message];
	}

	mounted(): void {
		document.addEventListener("keydown", this.checkKeydownSave);
	}

	beforeDestroy(): void {
		document.removeEventListener("keydown", this.checkKeydownSave);
	}

	checkKeydownSave(event: KeyboardEvent): void {
		if (!(event.keyCode === 83 && (event.ctrlKey || event.metaKey))) {
			return;
		}

		event.preventDefault();
		
		if (!this.saveButtonDisabled()) {
			this.saveProject();
		}
	}

	checkKeydownOpen(event: KeyboardEvent): void {
		if (!(event.keyCode === 79 && (event.ctrlKey || event.metaKey))) {
			return;
		}

		event.preventDefault();

		const button = document.getElementById('openproject');
		if (button) {
			button.click();
		}
	}
}
</script>

<style>
#app {
	font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #237491;
	margin: 60px auto 0 auto;
	max-width: 1200px;
}

.required-box {
	box-shadow: 0 0 2px 3px rgb(231, 6, 6) !important;
}

.required-text {
	color: rgb(231, 6, 6) !important;
}

.button {
	font-size: inherit;
	color: #fff;
	background-color: #a1c750;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	margin: 0;
	padding: 5px 10px;
	user-select: none;
	cursor: pointer;
	border: none;
}

.button:hover {
	background-color: #9bbe4e;
}

.button:active {
	background-color: #80994a;
}

.button:disabled {
	color: #ddd;
	background-color: #a0b66e;
	cursor: default;
}
</style>

<style scoped>
	.toolbar {
		padding-bottom: 2px;
		margin-bottom: 20px;
		border-bottom: 1px solid #9bbe4e;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.toolbar button {
		margin: 2px;
	}

	footer {
		border-top: 1px solid #9bbe4e;
		width: 50%;
		padding-top: 1em;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
		font-size: 80%;
	}
</style>
